.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
public/build
public/hot
storage/logs/*
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/pail
database/database.sqlite
database/*.db
.phpunit.cache
.phpunit.result.cache
tests
README.md
Dockerfile
docker-compose.yml
.dockerignore
